{% extends "base.html" %}
{% block body %}


<div class="row">
    <div class="col s2">
        <button class="btn waves-effect waves-light blue" name="top" onclick="location.href='/'">
        トップページへ戻る</button>
        </div>
    </div>




         
       <div class="row"> 
        <div class="col s7 offset-s2">
            <p><img src="/static/images/result/iruka.png"></p>
         <h4>＜利用規約＞</h4>
         <p>ユーザは本サービスを利用することにより、本規約に同意することとなります。
             サービスとして以下の内容を利用できるものとします。</p>
            <p>・本サービス上で提供される情報の閲覧</p>
            <p>・撮影した写真のアップロード</p>

        <h5>☑免責事項</h5>
        <p> 本サイトおよびリンク先で提供される情報、サービス等について一切の責任を負いません。
             また情報について、できる限り正確な情報を提供するように努めておりますが、
             正確性や安全性を保証するものではありません。
             当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>
        
        <h5>☑禁止事項</h5>
            <p>・法令に違反する行為又は犯罪行為に開連する行為</p>
            <p>・コンピューター・ウィルスその他の有害なコンピュータプログラムを含む情報の送信</p>
            <p>・本サービスの運営を妨害するおそれのある行為 </p>
        </div>
    </div>
     
    
    {% endblock %}